<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" src="../static/styles.css"></link>
    <title>Blog</title>
</head>
<body>
 
    <div class="pagina">
        <h1>Meu Blog</h1>
        <div class="metanav">
        {% if not session.logado %}
          <a href="">login</a>
        {% else %}
          <a href="">logout</a>
        {% endif %}
        </div>
        {% for mensagem in get_flashed_messages() %}
          <div class="flash">{{ mensagem }}</div>
        {% endfor %}
        {% block corpo %}{% endblock %}
      </div>  
</body>
</html>

